.content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  text-transform: uppercase;
}

.content__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $black-shaft;
}
