.content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color:$white;
  }
}

.content__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $black-shaft;

  @media (min-width: $desktop-width) {
    color:$white;
  }
}

.content__wrapper {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.content__list {
  display: grid;
  row-gap: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 400px);
  }
}

.content__item {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.content__item--landscape {
  grid-column: 1/-1;
}

@media (min-width: $tablet-width) {
  .content__specification-container {
    display: flex;
    flex-direction: row;
    background-color: $input-background;
    justify-content: space-between;
  }

  .content__sign {
    padding: 22px 20px 15px 20px;
  }

  .content__likes {
    padding: 28px 20px 27px 0;
  }
}

@media (min-width: $desktop-width) {
  .content__specification-container {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
}
