.video__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.video__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $black-shaft;
  text-transform: uppercase;
}

.video__container {
  padding: 58px 0 66px 0;

  @media (min-width: $tablet-width) {
    padding: 58px 0 66px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 0 64px 0;
  }
}
