@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* разрешение */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: #f2f2f2;
  width: 100%;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 320px;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    width: 768px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 1200px;
  }
}

.main-nav__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 17px 10px 12px 10px;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
    background-color: #ffffff;
    padding: 18px;
    min-width: 140px;
    max-width: 153px;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__link {
    min-width: 200px;
    max-width: 240px;
  }
}

@media (min-width: 768px) {
  .main-nav__item--place-logo-left {
    margin-right: 75px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item--place-logo-left {
    margin-right: 75px;
  }
}

@media (min-width: 768px) {
  .main-nav__item--place-logo-right {
    margin-left: 75px;
  }
}

.main-header {
  width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .main-header {
    display: flex;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }
}

.main-header__logo {
  width: 185px;
  height: 56px;
  display: flex;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .main-header__logo {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -92.5px;
  }
}

.container {
  margin: 0 auto;
}

.page__container {
  width: 320px;
}
@media (min-width: 768px) {
  .page__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__container {
    width: 1200px;
  }
}

.promo {
  width: 320px;
  background-color: #4c77a1;
  background-image: url(../../img/index/prime-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 91px;
  padding-bottom: 85px;
}

@media (min-width: 768px) {
  .promo {
    width: 768px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
@media (min-width: 1200px) {
  .promo {
    width: 1200px;
  }
}
.advantages__title-container {
  padding: 32px 18px 16px 18px;
}
@media (min-width: 768px) {
  .advantages__title-container {
    padding: 48px 33px 55px 33px;
  }
}
@media (min-width: 768px) {
  .advantages__title-container {
    padding: 59px 50px 44px 50px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
}

.advantages__description {
  margin: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: repeat(3, 256px);
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__item--background-blue {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .advantages__item--background-blue {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .advantages__item--background-blue {
    grid-column: 1/-1;
  }
}

.advantages__item--background-blue .advantages__title-item {
  color: #ffffff;
}

.advantages__item-container--blue-element {
  padding: 37px 18px;
}
@media (min-width: 768px) {
  .advantages__item-container--blue-element {
    padding: 52px 33px 31px 33px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-container--blue-element {
    padding: 52px 50px 51px 50px;
  }
}

.advantages__item-container--first-element {
  padding-top: 70px;
}
@media (min-width: 768px) {
  .advantages__item-container--first-element {
    padding-top: 52px;
  }
}

@media (min-width: 768px) {
  .advantages__item-container {
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-container {
    width: 400px;
  }
}

.advantages__title-item {
  margin: 0;
  margin-bottom: 11px;
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages__description-item {
  margin: 0;
}

.advantages__image-container {
  width: 320px;
  height: 256px;
}
@media (min-width: 768px) {
  .advantages__image-container {
    width: 512px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4c77a1;
  }
}
@media (min-width: 1200px) {
  .advantages__image-container {
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4c77a1;
  }
}

.advantages__list--internal {
  display: grid;
  padding: 23px 18px 46px 18px;
  text-align: start;
  row-gap: 49px;
}
@media (min-width: 768px) {
  .advantages__list--internal {
    padding: 0;
    grid-template-columns: repeat(3, 256px);
  }
}
@media (min-width: 1200px) {
  .advantages__list--internal {
    padding: 0;
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__item--internal {
  padding: 8px 18px 0 47px;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__item--internal {
    padding: 158px 33px 60px 33px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages__item--internal {
    padding: 169px 50px 69px 50px;
  }
}

.advantages__title--internal-list {
  margin: 0;
  margin-bottom: 16px;
}

.advantages__description--internal-list {
  margin: 0;
}

@media (min-width: 320px) {
  .advantages__item--house::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 39px;
    height: 37px;
    top: 0;
    left: 0;
    background-image: url("../../img/index/mobile-icon-house.svg");
  }

  .advantages__item--food::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 39px;
    height: 37px;
    top: 0;
    left: 0;
    background-image: url("../../img/index/mobile-icon-food.svg");
  }

  .advantages__item--gift::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 39px;
    height: 37px;
    top: 0;
    left: 0;
    background-image: url("../../img/index/mobile-icon-gift.svg");
  }
}
@media (min-width: 768px) {
  .advantages__item--house::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/index/tablet-icon-house.svg");
    width: 77px;
    height: 72px;
    top: 65px;
    left: 88px;
  }

  .advantages__item--food::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/index/tablet-icon-food.svg");
    width: 82px;
    height: 68px;
    top: 62px;
    left: 87px;
  }

  .advantages__item--gift::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/index/tablet-icon-gift.svg");
    width: 66px;
    height: 75px;
    top: 64px;
    left: 98px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--house::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 69px;
    left: 159px;
  }

  .advantages__item--food::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 72px;
    left: 162px;
  }

  .advantages__item--gift::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 69px;
    left: 159px;
  }
}
.advantages__item--background-gray {
  background-color: #eeeeee;
}

.advantages__item-container--gray-element {
  padding: 24px 18px 24px 18px;
}
@media (min-width: 768px) {
  .advantages__item-container--gray-element {
    padding: 41px 33px 63px 33px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-container--gray-element {
    padding: 69px 50px;
  }
}

.advantages__image-container--reverse {
  order: -1;
}

.description__container {
  padding: 32px 18px 16px 18px;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.search-hotel__container {
  padding-top: 38px;
  margin-bottom: 49px;
  width: 284px;
}
@media (min-width: 768px) {
  .search-hotel__container {
    width: 435px;
  }
}

.search-hotel__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-hotel__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .content__title {
    color: #ffffff;
  }
}

.content__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media (min-width: 1200px) {
  .content__author {
    color: #ffffff;
  }
}

.content__wrapper {
  width: 280px;
}
@media (min-width: 768px) {
  .content__wrapper {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .content__wrapper {
    width: 1200px;
  }
}

.content__list {
  display: grid;
  row-gap: 50px;
}
@media (min-width: 768px) {
  .content__list {
    grid-template-columns: 324px 324px;
    row-gap: 0;
  }
}
@media (min-width: 1200px) {
  .content__list {
    grid-template-columns: repeat(3, 400px);
  }
}

.content__item {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.content__item--landscape {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .content__specification-container {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: space-between;
  }

  .content__sign {
    padding: 22px 20px 15px 20px;
  }

  .content__likes {
    padding: 28px 20px 27px 0;
  }
}
@media (min-width: 1200px) {
  .content__specification-container {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
}
.photo-video-header__container {
  padding: 36px 0 25px 0;
  width: 280px;
}
@media (min-width: 768px) {
  .photo-video-header__container {
    padding: 66px 0 67px 0;
    width: 458px;
  }
}
@media (min-width: 1200px) {
  .photo-video-header__container {
    padding: 100px 0 65px 0;
  }
}

.photo-video-header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.photo-video-header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.likes__count {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .likes__count {
    color: #ffffff;
  }
}

.video__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.video__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}

.video__container {
  padding: 58px 0 66px 0;
}
@media (min-width: 768px) {
  .video__container {
    padding: 58px 0 66px 0;
  }
}
@media (min-width: 1200px) {
  .video__container {
    padding: 62px 0 64px 0;
  }
}

.feedback__container {
  width: 280px;
}
@media (min-width: 768px) {
  .feedback__container {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .feedback__container {
    width: 960px;
  }
}

.feedback__title-container {
  padding: 36px 0 27px 0;
}
@media (min-width: 768px) {
  .feedback__title-container {
    padding: 64px 0 108px 0;
  }
}
@media (min-width: 1200px) {
  .feedback__title-container {
    padding: 115px 0 68px 0;
  }
}

.feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.feedback__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.feedback__form-container {
  display: grid;
}
@media (min-width: 768px) {
  .feedback__form-container {
    grid-template-columns: 295px 295px;
    column-gap: 58px;
    row-gap: 50px;
  }
}
@media (min-width: 1200px) {
  .feedback__form-container {
    grid-template-columns: 430px 430px;
    column-gap: 100px;
    row-gap: 73px;
  }
}

.feedback__note {
  font-size: 12px;
  line-height: 21px;
  text-align: end;
}

.form {
  margin: 0;
  padding: 24px 0 24px 0;
}
@media (min-width: 768px) {
  .form {
    padding: 0;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: start;
}

.form__item:not(:last-child) {
  margin-bottom: 16px;
}

.form__legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  padding: 0;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}

.form__label-description {
  margin-left: 16px;
}

.form__form-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 280px;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px;
}
@media (min-width: 768px) {
  .form__form-input {
    width: 295px;
  }
}
@media (min-width: 1200px) {
  .form__form-input {
    width: 430px;
  }
}

.form__form-input--textarea {
  resize: none;
}

.form__form-control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px 10px 10px 0;
  text-transform: none;
  color: #000000;
}

.form__control-mark {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  position: relative;
  margin-right: 16px;
}

.form__control-mark--radio {
  border-radius: 50%;
}

.form__control-mark--checkbox {
  border-radius: 4px;
}

.form__item--control {
  display: flex;
}

@media (min-width: 768px) {
  .big-element .form__list {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    padding: 0 58px;
  }
}
.big-element {
  grid-column: 1/-1;
}

.main-footer__hashtag {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-top: 33px;
}

.main-footer__container {
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    padding: 74px 60px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 120px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social__link {
  display: flex;
  padding: 13px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-footer__copyright {
  padding-top: 30px;
}

.main-footer__copyright-text {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px;
  display: block;
  border: none;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */