.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $black-shaft;
  text-transform: uppercase;
}

.form__control {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.form__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.form__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.form__required {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: hsla(0, 0%, 20%, 0.6);
}
